@{
    ViewBag.Title = "健康";
}
<h2>@ViewBag.Message</h2>
@*<h3>@ViewBag.Message</h3>*@

<p draggable="true">下一步要把智能手環的數據存入數據庫，並在這裡加載顯示出來。</p>
<div>Git我用的很不熟悉，废了老大劲；今晚在家写的希望明天到公司后可以从Github更新下来。</div>

<script>
    alert("Start here and now!");
</script>