@{
    ViewBag.Title = "日誌";
}
<h2>@ViewBag.Message</h2>

<p style="">@DateTime.Now</p>
<p contenteditable="true" contextmenu="abc,edf">記錄好每天的收穫。</p>
<div>这段文字编辑于笔记本，我要提交到Git；以方便到家后，接着继续编辑。</div>
<li>
<tr>
<td>abc</td>
<td>abc</td>
<td>abc</td>
</tr>
<tr>
<td>abc</td>
<td>abc</td>
<td>abc</td>
</tr>
<tr>
<td>abc</td>
<td>abc</td>
<td>abc</td>
</tr>
<li>
