@{
    ViewBag.Title = "技術支持";
}
<h2>@ViewBag.Head</h2>
<h3>@ViewBag.Message</h3>

<address>
    科学大道，高新区<br />
    河南省郑州市<br />
    <abbr title="Phone">P:</abbr>
    888 888 66
</address>

<address>
    <strong>支持:</strong> <a href="mailto:techcenter@sina.cn">techcenter@sina.cn</a><br />
    <strong>商务:</strong> <a href="mailto:sysnlee@hotmail.com">sysnlee@hotmail.com</a>
</address>