@{
    ViewBag.Title = "脑同步";
}

<div class="jumbotron">
    <h1>編程之路</h1>
    <p class="lead">每天都要有所進步，才能開啟更好的人生</p>
    <p><a href="/News/Index" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>語言</h2>
        <p>
           C#是當務之急
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>內核</h2>
        <p>Windows深入是必須的基礎</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>網絡</h2>
        <p>這個是長久的鑽研內容</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">了解更多 &raquo;</a></p>
    </div>
</div>
